<p>
  <strong>Server:</strong>
  <%= @advisory.server %>
</p>

<p>
  <strong>Email:</strong>
  <%= @advisory.email %>
</p>

<%= link_to 'Edit', edit_server_advisory_path %> |
<%= link_to 'Back', server_path(@server) %>
